cfield[fieldtype="query"]{
	-moz-binding: url(binding:modules.filter.cQueryField#cQueryField);
}
cfield[fieldtype="objectfilter"]{
	-moz-binding: url(binding:modules.filter.cQueryField#cObjectFilterField);
}
cFilter{
	-moz-binding: url(binding:modules.filter.cQueryField#cFilter);
}
cFilterSection{
	-moz-binding: url(binding:modules.filter.cQueryField#cFilterSection);
}
cFilterParameter{
	-moz-binding: url(binding:modules.filter.cQueryField#cFilterParameter);
}
cFilterParameterProperty{
	-moz-binding: url(binding:modules.filter.cQueryField#cFilterParameterProperty);
}
cFilterParameterRestriction{
	-moz-binding: url(binding:modules.filter.cQueryField#cFilterParameterRestriction);
}
cFilterParameterValue{
	-moz-binding: url(binding:modules.filter.cQueryField#cFilterParameterValue);
}
