cFilterParameterValue,cFilterParameterRestriction,cFilterParameterProperty{
	padding: 0px 5px;
}
.inline{
	display: inline-block;
}

label.text-link{
	color: #283!important;
	font-weight: bold;
}

cFilterParameterValue[invalid="true"] [anonid="text"],
cFilterParameterRestriction[invalid="true"] [anonid="text"],
cFilterParameterProperty[invalid="true"] [anonid="text"]{
	color: #f00;
}